
.hangman-row {
    margin-top: 1.5rem;
}

.word-style {
    letter-spacing: 1.2rem;
}

.result-img {
    width: 100%;
    height: auto;
}

.result-win {
    font-size: 1.5rem;
    color: red;
}

.result-lose {
    font-size: 1rem;
    color: blue;
}

.offset-sm-right-2 {
    margin-right: 16.66666667%;
}
